[
   {
    "enabled": true,
    "nome": "ravena-exemplo",
    "managementUser": "ravuser",
    "managementPW": "ravpw",

    "privado": false,
    "comunitario": false,
    "useEvo": true,
    "webhookPort": 3601,
    "useWebsocket": false,
    "numero": "559911223344",
    "ignorePV": false,
    "ignoreInvites": true,
    "customPrefix": "!"
   }
]